<%= form_for @movie do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :synopsis %>
        <%= f.text_area :synopsis, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :mpaa_rating %>
        <%= select(:movie, :mpaa_rating, options_for_select([ 'G', 'PG', 'PG-13', 'R' ]), { include_blank: true }) %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>
